run = "kotlinc -d main.jar main.kt && kotlin -classpath main.jar MainKt"

hidden=["*.jar"]
modules = ["nix"]

[nix]
channel = "stable-24_05"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.kotlin]
pattern = "**/*.{kt,kts,java}"

[languages.kotlin.languageServer]
start = ["kotlin-language-server"]

[deployment]
run = ["sh", "-c", "kotlinc -d main.jar main.kt && kotlin -classpath main.jar MainKt"]
